:root {
  --yellow: #F6B406;
  --yellow-rgb: 246, 180, 6;
  --dark-blue: #14247F;
  --dark-blue-rgb: 20, 36, 127;
  --white: #FEFEFE;
  --light-gray: #F5F5F5;
  --medium-gray: #E0E0E0;
  --dark-gray: #333333;
}